<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>IT Help Desk Dashboard</h1>
</header>

<div class="container">
    <div class="card">

        <h2 style="color:green;">
            Ticket Created Successfully ✅
        </h2>

        <br>

        <a href="/dashboard">
            <button>Go To Dashboard</button>
        </a>

        <a href="/create-ticket">
            <button>Create Another Ticket</button>
        </a>

    </div>
</div>

</body>
</html>